
<h1 class="visually-hidden">"Cat Energy" – the best for your cat!</h1>

<section class="pick-program">
  <div class="container">
    <div class="pick-program__wrapper">
      <div class="pick-program__title-wrapper">
        <h2 class="title-secondary pick-program__title">Functional nutrition for cats</h2>
        <strong class="pick-program__subtitle subtitle">Got healthy? Time for cat!</strong>
      </div>
      <picture>
        <source type="image/webp" media="(min-width: 1300px)" srcset="assets/img/index-can-desktop@1x.webp 1x, assets/img/index-can-desktop@1x.webp 2x">
        <source type="image/webp" media="(min-width: 768px)" srcset="assets/img/index-can-tablet@1x.webp 1x, assets/img/index-can-tablet@1x.webp 2x">
        <source type="image/webp" srcset="assets/img/index-can-mobile@1x.webp 1x, assets/img/index-can-mobile@1x.webp 2x">

        <source media="(min-width: 1300px)" srcset="assets/img/index-can-desktop@1x.png 1x, assets/img/index-can-desktop@1x.png 2x">
        <source media="(min-width: 768px)" srcset="assets/img/index-can-tablet@1x.jpg 1x, assets/img/index-can-tablet@1x.jpg 2x">
        <img class="pick-program__img" src="assets/img/index-can-mobile@1x.png" srcset="assets/img/index-can-mobile@2x.png 2x" alt="CatEnergyPRO">
      </picture>
      <a class="link-btn pick-program__link" routerLink="/pick-program">Choose program</a>
    </div>
  </div>
</section>

<div class="container">
  <div class="diet-programs__wrapper">
    <section class="diet diet--slim">
      <header class="diet__header">
        <h3 class="title-third diet__title diet__title--slim">
          Loosing weight
        </h3>
      </header>
      <p class="diet__description">
        Your cat weighs more than a dog and he has nearly lost his ability to climb on trees? It's time for a diet! Cat Energy will help your pet to loose weight.
      </p>
      <a class="diet__link" routerLink="/catalog">
        SLIM Catalog
      </a>
    </section>

    <section class="diet diet--strong">
      <header class="diet__header">
        <h3 class="title-third diet__title diet__title--strong">
          Mass gain
        </h3>
      </header>
      <p class="diet__description">
        Would you like your cat to gain authority among street cats or even neighbours dog? Cat Energy Pro will help you cat build the necessary muscles!
      </p>
      <a class="diet__link" routerLink="catalog">
        PRO Catalog
      </a>
    </section>
  </div>
</div>

<section class="advantages">

  <div class="advantages__wrap">
    <div class="container">

      <h2 class="title-secondary advantages__title">How does it work</h2>

      <ul class="advantages__list">
        <li class="advantages__item">
          Functional nutrition contains only beneficial nutrients.
        </li>
        <li class="advantages__item">
          It is available in the form of a powder, you only need to add boiling and done.
        </li>
        <li class="advantages__item">
          Replace one or two regular meals with our functional diet.
        </li>
        <li class="advantages__item">
          In just a month, enjoy the change for the better for your pet!
        </li>
      </ul>
    </div>
  </div>

</section>

<section class="example">
  <div class="example__wrapper">
    <div class="container">
      <div class="example__content">

        <div class="example__left-col">
          <h2 class="title-secondary example__title">Living example</h2>

          <p class="example__text">Boris lost 5 kg in 2 months by simply replacing his regular feed with Cat Energy Slim. Excellent result without exhausting workouts! However, he did not change his habits and still sleeps 16 hours a day.</p>

          <div class="example__boxes">
            <p class="example__box example__box--weight">
              5 kg
              <span class="example__legend">loosing weight</span>
            </p>

            <p class="example__box example__box--days">
              60 days
              <span class="example__legend">time spent</span>
            </p>

            <b class="example__value">Food costs: <span class="example__price">&pound;100</span></b>
          </div>
        </div>

        <div class="example__slider slider">
          <div class="slider__image slider__image--after"></div>
          <div class="slider__buttons" (click)="switchCats($event)">
            <input class="slider__button--before" type="radio" name="slider" id="before" >
            <label class="slider__label slider__label--before" for="before">
              Before
            </label>
            <input class="slider__button--after" type="radio" name="slider" id="after" checked>
            <label class="slider__label slider__label--after" for="after">
              After
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
