<div class="wrapper">

  <!--Header start-->
  <header class="page-header">
    <div class="container">
      <div class="page-header__wrapper">

        <div class="page-header__logo-wrapper">
          <a class="page-header__logo" href="/">
            <picture>
              <source media="(min-width: 1300px)" srcset="./assets/img/logo-desktop.svg">
              <source media="(min-width: 1300px)" srcset="./assets/img/logo-desktop.svg">
              <source media="(min-width: 768px)" srcset="./assets/img/logo-tablet.svg">
              <img src="./assets/img/logo-mobile.svg" width="190" height="37" alt="Cat Energy Logo">
            </picture>
          </a>
          <button class="main-nav__toggle" (click)="navToggle($event)">Menu</button>
        </div>

        <app-main-nav></app-main-nav>

      </div>
    </div>
  </header>
  <!--Header end-->

  <!--Main start-->
  <main class="page-main">
    <router-outlet></router-outlet>
  </main>
  <!--Main end-->

  <!--Footer start-->
  <footer class="page-footer">

    <section class="page-footer__location location">
      <h2 class="visually-hidden">Address</h2>
      <div class="location-address-wrapper">
        <div class="container">
          <div class="location__wrapper">
            <strong class="location__invite">
              We invite dealers to cooperate!
            </strong>
            <p class="location__address">
              156 Bendersley Road, BS39 7HG<br/><br/> Bristol
            </p>
          </div>
        </div>
      </div>
      <div class="location__map-wrapper">

        <iframe class="location__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19851.129633998928!2d-2.4187141!3d51.5427252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x376244d13182979!2sThe%20Witches%20Hat%20Play%20Area%20and%20Skatepark!5e0!3m2!1sen!2suk!4v1575583393841!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </section>

    <div class="container">
      <div class="page-footer__wrapper">
        <div class="page-footer__logo-wrap">
          <a class="page-footer__logo" href="index.html">
            <img src="./assets/img/logo-footer.svg"  width="128" height="24" alt="Cat Energy - logo">
          </a>
        </div>

        <div class="page-footer__social">
          <ul class="social__list">
            <li class="social__item">
              <a class="social__link social__link--insta" href="#" aria-label="Our Instagram">
                <svg class="social__image social__image--insta" width="16" height="16">
                  <use xlink:href="./assets/img/sprite.svg#sprite-icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--fb" href="#" aria-label="Our Facebook">
                <svg class="social__image social__image--fb" width="10" height="19">
                  <use xlink:href="./assets/img/sprite.svg#sprite-icon-fb"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </footer>
  <!--Footer end-->

</div>
