<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="main-nav__link" routerLink="/">Home</a>
    </li>
    <li class="main-nav__item" routerLinkActive="active">
      <a class="main-nav__link" routerLink="/catalog">Product catalog</a>
    </li>
    <li class="main-nav__item" routerLinkActive="active">
      <a class="main-nav__link" routerLink="/pick-program">Choose program</a>
    </li>
  </ul>
</nav>
