<div class="container">
  <h1 class="catalog-page__title primary-title">Product catalog</h1>

  <section class="products_catalog">

    <h2 class="visually-hidden">Product list</h2>

    <ul class="catalog-list">

      <li class="catalog-list__item product">
        <div class="product__info-wrap">

          <a class="product-image__link" href="#">
            <img class="product-image" src="./assets/img/catalog-1.png" alt="Cat Energy Pro 500g">
          </a>

          <div class="product__description">
            <h3 class="product-title__title"><a class="product-title__link" href="#">Cat Energy Pro 500g</a></h3>
            <table class="product__spec">
              <tr>
                <td>Volume</td>
                <td class="right-col">500g</td>
              </tr>
              <tr>
                <td>Flavor</td>
                <td class="right-col">Chicken</td>
              </tr>
              <tr>
                <td>Price</td>
                <td class="right-col">&pound;15</td>
              </tr>
            </table>
          </div>
        </div>

        <a class="link-btn product__link" href="#">Buy</a>

      </li>

      <li class="catalog-list__item product">
        <div class="product__info-wrap">

          <a class="product-image__link" href="#">
            <img class="product-image" src="./assets/img/catalog-2.png" alt="Cat Energy Pro 500г">
          </a>

          <div class="product__description">
            <h3 class="product-title__title"><a class="product-title__link" href="#">Cat Energy Pro 1000g</a></h3>
            <table class="product__spec">
              <tr>
                <td>Volume</td>
                <td class="right-col">1000g</td>
              </tr>
              <tr>
                <td>Flavor</td>
                <td class="right-col">Chicken</td>
              </tr>
              <tr>
                <td>Price</td>
                <td class="right-col">&pound;25</td>
              </tr>
            </table>
          </div>
        </div>

        <a class="link-btn product__link" href="#">Buy</a>

      </li>

      <li class="catalog-list__item product">
        <div class="product__info-wrap">

          <a class="product-image__link" href="#">
            <img class="product-image" src="./assets/img/catalog-3.png" alt="Cat Energy Pro 500g">
          </a>

          <div class="product__description">
            <h3 class="product-title__title"><a class="product-title__link" href="#">Cat Energy Pro 500g</a></h3>
            <table class="product__spec">
              <tr>
                <td>Volume</td>
                <td class="right-col">500g</td>
              </tr>
              <tr>
                <td>Flavor</td>
                <td class="right-col">Fish</td>
              </tr>
              <tr>
                <td>Price</td>
                <td class="right-col">&pound;12</td>
              </tr>
            </table>
          </div>
        </div>

        <a class="link-btn product__link" href="#">Buy</a>

      </li>

      <li class="catalog-list__item product">
        <div class="product__info-wrap">

          <a class="product-image__link" href="#">
            <img class="product-image" src="./assets/img/catalog-4.png" alt="Cat Energy Pro 1000g">
          </a>

          <div class="product__description">
            <h3 class="product-title__title"><a class="product-title__link" href="#">Cat Energy Pro 1000g</a></h3>
            <table class="product__spec">
              <tr>
                <td>Volume</td>
                <td class="right-col">1000g</td>
              </tr>
              <tr>
                <td>Flavor</td>
                <td class="right-col">Fish</td>
              </tr>
              <tr>
                <td>Price</td>
                <td class="right-col">&pound;20</td>
              </tr>
            </table>
          </div>
        </div>

        <a class="link-btn product__link" href="#">Buy</a>

      </li>

      <li class="catalog-list__item product">
        <div class="product__info-wrap">

          <a class="product-image__link" href="#">
            <img class="product-image" src="./assets/img/catalog-5.png" alt="Cat Energy Slim 500g">
          </a>

          <div class="product__description">
            <h3 class="product-title__title"><a class="product-title__link" href="#">Cat Energy Slim 500g</a></h3>
            <table class="product__spec">
              <tr>
                <td>Volume</td>
                <td class="right-col">500g</td>
              </tr>
              <tr>
                <td>Flavor</td>
                <td class="right-col">Buckwheat</td>
              </tr>
              <tr>
                <td>Price</td>
                <td class="right-col">&pound;8</td>
              </tr>
            </table>
          </div>
        </div>

        <a class="link-btn product__link" href="#">Buy</a>

      </li>

      <li class="catalog-list__item product">
        <div class="product__info-wrap">

          <a class="product-image__link" href="#">
            <img class="product-image" src="./assets/img/catalog-6.png" alt="Cat Energy Slim 1000g">
          </a>

          <div class="product__description">
            <h3 class="product-title__title"><a class="product-title__link" href="#">Cat Energy Slim 1000g</a></h3>
            <table class="product__spec">
              <tr>
                <td>Volume</td>
                <td class="right-col">1000g</td>
              </tr>
              <tr>
                <td>Flavor</td>
                <td class="right-col">Buckwheat</td>
              </tr>
              <tr>
                <td>Price</td>
                <td class="right-col">&pound;12</td>
              </tr>
            </table>
          </div>
        </div>

        <a class="link-btn product__link" href="#">Buy</a>

      </li>

      <li class="catalog-list__item product">
        <div class="product__info-wrap">

          <a class="product-image__link" href="#">
            <img class="product-image" src="./assets/img/catalog-7.png" alt="Cat Energy Slim 500g">
          </a>

          <div class="product__description">
            <h3 class="product-title__title"><a class="product-title__link" href="#">Cat Energy Slim 500g</a></h3>
            <table class="product__spec">
              <tr>
                <td>Volume</td>
                <td class="right-col">500g</td>
              </tr>
              <tr>
                <td>Flavor</td>
                <td class="right-col">Rice</td>
              </tr>
              <tr>
                <td>Price</td>
                <td class="right-col">&pound;8</td>
              </tr>
            </table>
          </div>
        </div>

        <a class="link-btn product__link" href="#">Buy</a>

      </li>
      <li class="product show-more">
        <p class="show-more__text">Show more products</p>
        <b class="show-more__info">We've got even more flavors!</b>
        <a class="link-btn show-more__link" href="#">Show all</a>
      </li>

    </ul>

  </section>

  <div class="more-products__wrapper">
    <section class="add-products">
      <h2 class="subtitle-wline">Additional products</h2>
      <ul class="add-products__list">

        <li class="add-products__item product-minor">
          <h3 class="product-minor__title">Sweetener</h3>
          <table class="product-minor__description">
            <tr>
              <td>1 pack (100g)</td>
              <td class="table__right-align">&pound;2</td>
            </tr>
          </table>
          <a class="link-btn product-minor__link" href="#">Buy</a>
        </li>

        <li class="add-products__item product-minor">
          <h3 class="product-minor__title">Drinking water</h3>
          <table class="product-minor__description">
            <tr>
              <td>5 litres</td>
              <td class="table__right-align">&pound;3</td>
            </tr>
          </table>
          <a class="link-btn product-minor__link" href="#">Buy</a>
        </li>

        <li class="add-products__item product-minor">
          <h3 class="product-minor__title">Milk</h3>
          <table class="product-minor__description">
            <tr>
              <td>1 litre</td>
              <td class="table__right-align">&pound;1</td>
            </tr>
          </table>
          <a class="link-btn product-minor__link" href="#">Buy</a>
        </li>

        <li class="add-products__item product-minor">
          <h3 class="product-minor__title">Vitamins</h3>
          <table class="product-minor__description">
            <tr>
              <td>1 pack (30g)</td>
              <td class="table__right-align">&pound;5</td>
            </tr>
          </table>
          <a class="link-btn product-minor__link" href="#">Buy</a>
        </li>

      </ul>
    </section>

    <section class="gift">
      <h2 class="visually-hidden">Gift</h2>
      <svg class="gift__icon" width="55" height="60">
        <use xlink:href="./assets/img/sprite.svg#sprite-icon-gift"></use>
      </svg>
      <span class="gift__text">Make an order of &pound;100 or more<br> and get a gift - a case for your cat!</span>
    </section>

  </div>
</div>
